.shade-main-preview{
    position: absolute;
    z-index: 5;
    left:0%;
    top:0%;
    /* height:100%; */
    width:100%;
    opacity: 0.7;
    background: #000000;
    opacity: 1; 
    background-color:white;
    padding:0; 
    margin:0;
    height:700px;
}
.preview-questions{
    margin:0;
    padding:0;
    /* max-height:1000px; */
    width:900px;
    position: absolute ;
    left:0;
    top:0;
    z-index:5;    
}
.preview-buttons{
    position: absolute;
    left:0;
    bottom:-2em;
}
.preview-buttons button{
    margin-left:6em;
    background: #0072C6;
    border:none;
    color: #FFFFFF;
    padding: 0.3em 2em;

}
.submit-button{
    position: absolute;
    right:6em;
    bottom:-2em;
    /* border: 2px solid #0072C6; */
    border-radius: 2px;
    color:#0072C6;  
    font-weight: 600;
    background: white;
}
.submit-button button{
    padding: 0.2em 2em;

}
