*{
    /* font-family: 'Open Sans', sans-serif; */
}
body{
    /* opacity: 0.5; */
    /* background: #000000;     */
}
.shade-main{
    position: absolute;
    z-index: 5;
    left:0%;
    top:0%;
    height:100%;
    width:100%;
    /* background-color: rgba(0, 0, 0, 0.5);
    */
    opacity: 0.7;
    background: #000000;
}
.theme{
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 6;
    left:15%;
    top:8%;
    max-height:80%;
    width:70%;
    background: #EBEBEB;
    /* opacity: 1 ; */
    /* border: 1px solid #CCCCCC; */
    /* opacity: 1; */
}
.theme-main{
    flex:6;
    /* flex-shrink: 3;
    flex-grow:3;
    flex-wrap: wrap; */
    background: #EBEBEB;
    border: 1px solid #CCCCCC;
   
    
}

.theme-header1{
    background: #FFFFFF;
    height:3.5em;
    color: #727272;
    text-decoration: none;
    /* padding:.6em; */
    display:flex;
    justify-content: space-between;
    padding-right: 4em;
    font-weight: 600;
    font-size: 14px;
    padding-left: 1em;
    
}   
.theme-header1 p{
    display: inline;
    color: #727272;
    align-self: center;
    margin:0;
    
}
.theme-header1 a{
    color: #727272;
    align-self: center;
    
}
.theme-header1 select{
    width:15em;
    font-weight: 600;
    height:1.8em;
    align-self: center;
    /* box-shadow: 0 3px 6px 0 rgba(0,0,0,0.12); */
  
    /* background: grey; */
}
.theme-questions{
    /* padding:1em; */
    margin:1em;
    background: #F4F4F4;
    overflow-y: scroll !important;
    max-height: 85%;
}
/* .theme-questions ::-webkit-scrollbar-thumb{
    width:12px !important;
} */
/* ::-webkit-scrollbar-thumb{
    width:12px !important;
} */
.label-input{
    font-size: 40px;
    /* color:red; */
}
.sub-theme-questions{
    margin:1em 6em 2em;
    /* background: #FFFFFF; */
    /* padding:01em 5em 2em ;  */
    padding:.5em 2em 2em;
    overflow: scroll;
}
.theme-questions-header{
    position: sticky;
}
.theme-questions-header p{
    font-family: 'Open Sans' !important;
    /* font-size: 10px; */
    color: #0072C6;
    text-align: center;
    font-weight: 600;
    padding-top: 1em;
}
.theme-ques{
    /* overflow: scroll;
    overflow-y: scroll !important;
    max-height:600px;
    max-height: 150px;
    overflow-y : auto !important;
    width: 370px;
    height:199px;
    overflow-x: hidden;
    overflow-y: auto; */
}
.theme-ques p{
    /* font-size: 10px; */
    /* color: #3A3A3A;
    font-weight: 600; */
}
.theme-ques label{
    /* font-size: 10px;
    color: #3A3A3A;
    font-weight: 100; */
}
.theme-ques input[type=checkbox]{
    height:8px;
    width:8px;
    border-radius: 8em;
    font-size: 8px;
}
/* page second right part */
.theme-main2{
    flex:4;
    /* flex-shrink:1;
    flex-grow:1;
    flex-wrap: wrap; */
    background: #F4F4F4;
    /* border: 1px solid #CCCCCC; */
    max-height:550px;
    font-weight: 600;
    
}
.theme-main2 input[type=number]{
  border:none;
  background-color: #eee;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  /* line-height: 1.5em; */
  padding: 0.1em .8em 0.1em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3klEQVRIS+3VMU9CMRTF8d8zBL+aizoQFhx0kUk33RzdYMNFXUFnYeGrYYyaJiUxJHDLSxodbNKpfeffc9/pbaPyaCrr+3OA++z4rtT5Pg5GuMnCY9yWQEoBE1xhlUUP8YDrCBIB0vojLvGO0yz4hm4JJAKcYYoPHGOZAUdYoIMBXrc5iQAHeMlzviFygj7O8dkWEJU4XI8chALRhn9AVKHf70VRTHu4wFfbmKZLNKt50dLBnna0imcMd/2I0phWa3Y/D1e1Xa9BCZJG0VuQNpaWKMx72xS1Fl5/WN3BN+AgJhnZQlq4AAAAAElFTkSuQmCC');
  background-position: calc(100% - .5rem), 100% 0;
  background-size:  1.5em 1.5em;
  background-repeat: no-repeat;
  -moz-box-shadow:    inset 3px 0 3px 0px #ccc,inset -3px 0 3px 0px #ccc,inset 0px -5px 6px 0px white;
  -webkit-box-shadow: inset 3px 0 3px 0px #ccc,inset -3px 0 3px 0px #ccc,inset 0px -5px 6px 0px white;
  box-shadow:         inset 3px 0 3px 0px #ccc,inset -3px 0 3px 0px #ccc,inset 0px -5px 6px 0px white;
  border:none;
  margin: 0 .3em;
}
.theme-header2{
    display: flex;
    flex-direction: row;
    border: 1px solid #CCCCCC;
    color: #727272;
    padding:0.5em;
    text-align: center;
    
}
.theme-header2-sub1{
    flex:1;
    display: flex;
    flex-direction: row;
    padding:0;
    margin:0;
    align-items: center;
}
.theme-header2-sub1 a{
    height:2em;
    width:2em;
    margin:0;
    padding:.2em;
    border: 1px solid #CCCCCC;
    color: black;
    font-weight: 600; 
}
.theme-header2-sub1 p{
 margin: 5px;
}
.theme-header2-sub2{
    display: flex;
    flex-direction: row;
    background: #F4F4F4;
    margin-right: 3em;
}
.theme-header2-sub2 p{
  margin-right: 2em;
}
.theme-style-main{
    display:flex;
    background: #F4F4F4;
    color: #727272;
    max-height:600px;
}
.theme-style-sub1{
    flex:1;
    border: 1px solid #CCCCCC;
}
.theme-style-sub1 a{
    display:flex;
    color: #000000;
    margin:1em;
    font-weight:600;
}
.theme-style-sub2{
    flex:4;
    border: 1px solid #CCCCCC;
    /* overflow: scroll; */
    overflow-y: scroll !important;
    max-height: 45%;
    padding:1em;
}
.theme-style-sub2 h5{
    font-weight: 600;
    font-size: 12px;
    color: #0072C6;
    margin:1em 0 0em;
}
.theme-style-sub2 h4{
    font-weight: 600;
    font-size: 15px;
    color: #0072C6;
}

.theme-body p{
    color: #727272;
    font-weight: 600;
    margin: 1em 0 0;

}
.theme-body> :first-child{
    margin: 8px;
    margin-left: 1em;
}

/* Dot display of radiobutton */
.radio-container {
    display: inline;
    position: relative;
    padding-left: 15px;
    margin-bottom: 4px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right:2em;
  }
  
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: white;
    border-radius: 50%;
    border:thin solid grey;
  }
  
  .radio-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .radio-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .radio-container input:checked ~ .checkmark:after {
    display: block;
  }
  .radio-container .checkmark:after {
      top: 4px;
      left: 4px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: white;
  }
  .theme-ques .checkboxStyles{
      height:2em;
      width:2em;
  }
/* checkboxstyle */
  .checkboxStyles:checked{
    opacity: 0;
  }
  .checkboxStyles:checked ~ .checkboxStyles-span:after{
    content:"\2713";
    color:black;
    width:1em;
    height:1em;
    /* border:1px solid grey; */
    font-size: 1em;
    position: relative;
    padding:auto;
    text-align:center;
    /* z-index: 10; */
    left:-4%;
    padding-bottom:5px;
    margin-bottom: 5px;
}
select {
  background-color: #eee;
  /* border: thin solid grey; */
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  /* line-height: 1.5em; */
  padding: 0.1em 3.5em 0.1em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3klEQVRIS+3VMU9CMRTF8d8zBL+aizoQFhx0kUk33RzdYMNFXUFnYeGrYYyaJiUxJHDLSxodbNKpfeffc9/pbaPyaCrr+3OA++z4rtT5Pg5GuMnCY9yWQEoBE1xhlUUP8YDrCBIB0vojLvGO0yz4hm4JJAKcYYoPHGOZAUdYoIMBXrc5iQAHeMlzviFygj7O8dkWEJU4XI8chALRhn9AVKHf70VRTHu4wFfbmKZLNKt50dLBnna0imcMd/2I0phWa3Y/D1e1Xa9BCZJG0VuQNpaWKMx72xS1Fl5/WN3BN+AgJhnZQlq4AAAAAElFTkSuQmCC');
  background-position: calc(100% - .5rem), 100% 0;
  background-size:  1.5em 1.5em;
  background-repeat: no-repeat;
  -moz-box-shadow:    inset 3px 0 3px 0px #ccc,inset -3px 0 3px 0px #ccc,inset 0px -5px 6px 0px white;
  -webkit-box-shadow: inset 3px 0 3px 0px #ccc,inset -3px 0 3px 0px #ccc,inset 0px -5px 6px 0px white;
  box-shadow:         inset 3px 0 3px 0px #ccc,inset -3px 0 3px 0px #ccc,inset 0px -5px 6px 0px white;
  border:none;
  margin: 0 .3em;
}

select:focus {
  border-color: blue;
  outline: 0;
}

.theme .button-group{
  position:relative;
  bottom:-1em;
}
.button-group button{
  background: #0072C6;
  border:none;
  color: #FFFFFF;
}
.button-group .apply{
  position: relative;
  left:1%;
}
.button-group .save{
  position: relative;
  right:-55%;
}
.button-group .save-as{
  position:relative;
  right:-55%;
  
}

/* _______________________________________________________________________________________________________________________ */
  
  /* BHAVYA JAIN */
/* 
.theme-body .DetailedConfiguration{
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: -0.5%;
}

.theme-header2-sub1 .MinusButton{

      margin-left: 2em;
      left: 49px;
}

.theme-header2-sub2 .ThemeColor{
   margin-left: 100px;
   margin-right: 10px;
}



.theme-style-sub1
{
width: 29%;
}
.theme-style-sub2 {
    width: 300px;
}


.theme-style-sub1 .Questionnaire{
    text-decoration: underline;
    text-decoration-color: black;
}

.theme-style-sub2 .LeftShift{
    margin-left: 4%;
}

.theme-style-sub2 .FontStyle1{
    margin-left: 4%;
    margin-bottom: -1%;
 }


.theme-style-sub2 .LabelfontFamilyOptions1{
   background-color:#E8E8E8;
   border-radius: 4px;
   margin-left: 10px;
   margin-right: 5px;
   border-color:black;
   padding: 1px;
}

.theme-style-sub2 .InputfontSize1{
    background-color:#E8E8E8;
    border-radius: 4px;
    margin-right: 8px;
    border-color:white;
    padding: 1px;
 }

 .theme-style-sub2 .TextStyle1{
    background-color:#E8E8E8;
   margin-left: 4%;
   margin-bottom: 3.5%;
   padding: 1px;
 }

 .theme-style-sub2 .Image1{
    margin-left: 4%;
    margin-top: -4%;
    margin-bottom: 1%;
  }


 .theme-style-sub2 .FontStyle2{
    margin-left: 4%;
    margin-bottom: -1%;
 }

 .theme-style-sub2 .LabelfontFamilyOptions2{
    background-color:#E8E8E8;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 5px;
    border-color:black;
    padding: 1px;
 }

 .theme-style-sub2 .InputfontSize2{
    background-color:#E8E8E8;
    border-radius: 4px;
    margin-right: 8px;
    border-color:white;
    padding: 1px;
  }

  .theme-style-sub2 .TextStyle2{
    background-color:#E8E8E8;
    margin-left: 4%;
    margin-bottom: 5%;
    padding: 1px;
  }

 .theme-style-sub2 .singleDot{
   height: 3px;
   top: -3px;
   left: 10%;
   width: 20%;
 }

 .theme-style-sub2 .singleFilled{
   height: 3px;
   top: -3px;
   left: 18.5%;
   width: 20%;
 }

 .theme-style-sub2 .singleToggle{
    height: 3px;
    top: 6px;
    left: 29%;
    width: 20%;
  }

 .theme-style-sub2 .multiLined{
   width: 20%;
   height: 3px;
   left: 10%;
   top: -3px;
 }

 .theme-style-sub2 .multiFilled{
    width: 20%;
    height: 3px;
    top: -3px;
    left: 20%;
  }

  .theme-style-sub2 .multiVertical{
    width: 20%;
    height: 3px;
    left: 10%;
    top: -3px;
  }

  .theme-style-sub2 .multiHorizontal{
     width: 20%;
     height: 3px;
     top: -3px;
     left: 20%;
   }

  .theme-style-sub2 .ShortAnswer1{
    height: 3px;
    top: -3px;
    left: 10%;
    width: 20%;
  }

  .theme-style-sub2 .ShortAnswer2{
    height: 3px;
    top: -3px;
    left: 18.5%;
    width: 20%;
  }

  .theme-style-sub2 .ShortAnswer3{
     height: 3px;
     top: -3.7px;
     left: 29%;
     width: 20%;
   }


   .theme-style-sub2 .LongAnswer1{
    height: 3px;
    top: -3px;
    left: 10%;
    width: 20%;
  }

  .theme-style-sub2 .LongAnswer2{
    height: 3px;
    top: -3px;
    left: 18.5%;
    width: 20%;
  }

  .theme-style-sub2 .LongAnswer3{
     height: 3px;
     top: -3.7px;
     left: 29%;
     width: 20%;
   }

   .theme-style-sub2 .Dropdown1{
    height: 3px;
    top: -3px;
    left: 10%;
    width: 20%;
  }

  .theme-style-sub2 .Dropdown2{
    height: 3px;
    top: -3px;
    left: 18.5%;
    width: 20%;
  }

  .theme-style-sub2 .Dropdown3{
     height: 3px;
     top: -3.7px;
     left: 29%;
     width: 20%;
   }

   .theme-style-sub2 .Datepicker1{
    height: 3px;
    top: -3px;
    left: 10%;
    width: 20%;
  }

  .theme-style-sub2 .Datepicker2{
    height: 3px;
    top: -3px;
    left: 18.5%;
    width: 20%;
  }

  .theme-style-sub2 .Datepicker3{
     height: 3px;
     top: -3.7px;
     left: 29%;
     width: 20%;
   } */
