body{
  background-color: #F5F5F5;
  font-family: 'Open Sans';
}
.App{
  display:flex;
  flex-direction: row;
  height:100vh;
  background-color: #F5F5F5;
}
.App1{
  display:flex;
  flex-direction: column;
  flex:1;
}
.App2{
  display:flex;
  flex:3;
  flex-direction: column;
}
.processTree, .projectTree{
  font-size: 14px;
  border: 1px solid #d2d3c9;
  margin:2px;
  color: #0072C6;
  font-family: 'Open Sans';
  font-weight: 600;
  height: 49.25%;
  background: #FFFFFF;
}